.titleContainer {
  min-height: 60%;

  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &--selfie {
    @media screen {
      @media (min-width: 700px) {
        display: block;
        width: 300px;
        height: 280px;
      }
    }
    display: none;
  }
  &__typografy {
    font-family: "Lora", serif;
    color: rgb(181, 176, 176);
    font-size: 1.2rem;

    /* &--title {
      font-size: 1.5rem;
    } */
    &--myName {
      font-size: 1.7rem;
      &:hover {
        color: red;
      }
    }
    &--proffesion {
      font-family: "Aboreto", cursive;
      position: relative;
      text-transform: uppercase;
      margin-top: 50px;
      font-size: 1.6rem;
      font-weight: 700;
      &::before {
        content: attr(data-text);
        position: absolute;
        color: rgb(50, 67, 196);
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        border-right: 4px solid rgb(0, 34, 224);
        animation: animate 8s linear infinite;
        filter: drop-shadow(0 0 20px rgb(255, 255, 255))
          drop-shadow(0 0 50px blue);
      }
    }
  }
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}
