@use "/public/styles/variables" as *;
@use "/public/styles/cardAnimations" as *;

.titleContainer {
  min-height: 93%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen {
    @media (min-width: $tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  &__containerSelfie {
    @media screen {
      @media (min-width: $tablet) {
        order: 2;
      }
    }
  }
  &__containerInfo {
    @media screen {
      @media (min-width: $tablet) {
        order: 1;
      }
    }
  }
  &--selfie {
    @media screen {
      @media (min-width: $tablet) {
        display: block;
        border-radius: 10%;
        width: 301px;
        height: 346px;
      }
    }
    display: none;
  }
  &__infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen {
      @media (min-width: $tablet) {
        flex-basis: 100%;
      }
    }
  }
  &__typografy {
    font-family: $fontLora;
    color: $colorGray;
    font-size: 1.2rem;

    &--desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen {
        @media (min-width: $tablet) {
          font-size: 2.5rem;
        }
      }
    }

    &--myName {
      font-size: 1.7rem;
      @media screen {
        @media (min-width: $tablet) {
          font-size: 3.5rem;
        }
      }
      &:hover {
        color: $animatedNameHover;
      }
    }
    &--proffesion {
      font-family: $fontAboreto;
      position: relative;
      text-transform: uppercase;
      margin-top: 50px;
      font-size: 1.5em;
      font-weight: 700;
      @media screen {
        @media (min-width: 700px) {
          margin-top: 10px;
        }
      }
      &::before {
        content: attr(data-text);
        position: absolute;
        color: $animatedNameHover;
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        border-right: 4px solid rgb(1, 3, 16);
        animation: animate 8s linear infinite;
        filter: drop-shadow(0 0 20px rgb(255, 255, 255))
          drop-shadow(0 0 50px blue);
      }
    }
  }

  &--scrollDown {
    width: 55px;
    position: absolute;
    top: 93%;
  }
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 99%;
  }
}
