.titleContainer {
  margin: 50px 0 0 5px;

  /*   width: 350px;
  height: 100px; */
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--selfie {
    @media screen {
      @media (min-width: 700px) {
        display: block;
        width: 300px;
        height: 280px;
      }
    }
    display: none;
  }
  &__typografy {
    color: #fff;
    &--title {
      font-size: 1.5rem;
    }
    &--myName {
      font-size: 1.7rem;
      &:hover {
        color: red;
      }
    }
    &--proffesion {
      text-transform: uppercase;
      margin-top: 15px;
      font-size: 1.6rem;
      font-weight: 700;
    }
  }
}
