@use "/public/styles/variables" as *;
.contact {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  min-height: 30%;
  align-items: center;

  &--title {
    color: $colorLight;
    font-size: $medium;
  }
}
