@use "/public/styles/variables" as *;

.curiculoContainer {
  position: absolute;
  inset: 5px;
  border-radius: 16px;
  z-index: 1;
  background: $colorBackgroundFunctionalButtons;
  display: flex;
  justify-content: center;
  align-items: center;

  &--icon {
    margin-right: 15px;
  }
  &--download {
    text-decoration: none;
    color: $colorFunctionalButtons;
    font-family: $fontLora;
    font-weight: $fontWeightLarge;
    font-size: $medium;
  }
}
