@use "/public/styles/variables" as *;

.footerContainer {
  display: flex;
  align-items: center;
  min-width: 100%;
  min-height: 5%;
  justify-content: center;
  background: $colorBackgroundFooter;
  &--desc {
    color: $colorLight;
    font-size: $small;
  }
}
