.footerContainer {
  display: flex;
  align-items: center;
  min-width: 100%;
  min-height: 5%;
  justify-content: center;
  background: #101839;
  &--desc {
    color: #fff;
    font-size: 1.3em;
  }
}
