/* Card Projects  */
$shadowBlackLarge: 20px 20px 50px rgba(0, 0, 0, 0.5);
$shadowBlackSamll: 0 5px 15px rgba(0, 0, 0, 0.2);
$borderSolid: 1px solid rgba(255, 255, 255, 0.5);
$shadowWhiteMedium: 5px 5px 10px rgb(255, 255, 255);
$ShadowWhiteProgress: inset 0px 1px 1px rgb(0, 0, 0, 0.5),
  0px 1px rgba(255, 255, 255, 0.8);
/* Animations Colors */
$animatedColorYellow: #ff0;
$animatedColorPurple: conic-gradient(
  transparent,
  transparent,
  transparent,
  #6665ee
);
$animatedColorPurpleStrong: conic-gradient(
  transparent,
  transparent,
  transparent,
  #4c4cdd
);
$animatedProgressBackground: #f0f0f0;
$animatedProgressBar: #6665ee;
$animatedNameHover: rgb(208, 186, 17);
