/* breackpoints */
$tablet: 700px;
$desktop: 1024px;

/* cores */
$colorLight: #fff;
$colorBackground: #1c2137;
$colorBackgroundFooter: #101839;
$colorBackgroundAbout: #2c324c;

/* typography */
$fontLora: "Lora", serif;
$fontWeightSub: 500;
$small: 1.3em;
$paragraphMedium: 1.1em;
$tiny: 0.9em;
