@use "/public/styles/variables" as *;

.about {
  display: flex;
  flex-direction: column;

  min-width: 75%;
  padding: 10px;
  align-items: center;
  background: $colorBackgroundAbout;
  border-radius: 25px;
  margin-top: 60px;
  @media screen {
    @media (min-width: $tablet) {
      padding: 20px;
    }
  }

  &__headerInfos {
    display: flex;
    align-items: center;
  }
  &--selfie {
    width: 200px;
    border-radius: 10px;
  }
  &__containerDesc {
    margin-left: 10px;
  }
  &--desc {
    font-family: $fontLora;
    font-weight: $fontWeightSub;
    color: $colorLight;
    font-size: $tiny;
    @media screen {
      @media (min-width: $tablet) {
        font-size: $paragraphMedium;
      }
    }
  }
}
