@use "/public/styles/variables" as *;
@use "/public/styles/cardAnimations" as *;
.skills {
  margin-top: 15px;
  color: $colorLight;

  min-width: 90%;
  box-shadow: $shadowWhiteMedium;
  border-radius: 10px;
  padding: 10px 15px;

  &__bar {
    margin: 20px 0;
    &:first-child {
      margin-top: 0;
    }
  }
  &__info {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 500;
  }

  &__progress {
    position: relative;
    height: 10px;
    width: 100%;
    background: $animatedProgressBackground;
    box-shadow: $ShadowWhiteProgress;
    transform: scaleX(0);
    transform-origin: left;
  }
  &__progressBar {
    height: 100%;
    width: 80%;
    background: $animatedProgressBar;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;

    &::before {
      position: absolute;
      content: "";
      height: 0;
      right: 0;
      top: -10px;
      width: 0;
      border: 7px solid transparent;
      border-bottom-width: 0px;
      border-right-width: 0px;
      border-top-color: $colorDark;
    }
    &::after {
      position: absolute;

      right: 0;
      top: -28px;
      color: $colorLight;
      font-size: 12px;
      font-weight: 500;
      background: $colorDark;
      padding: 1px 8px;
      border-radius: 3px;
    }
  }
}

.animationProgressBar {
  animation: progressBar 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.html {
  & > .skills__progressBar {
    width: 60%;
    &::after {
      content: "60%";
    }
  }
}
.css {
  & > .skills__progressBar {
    width: 50%;
    &::after {
      content: "50%";
    }
  }
}
.scss {
  & > .skills__progressBar {
    width: 40%;
    &::after {
      content: "40%";
    }
  }
}
.react {
  & > .skills__progressBar {
    width: 50%;
    &::after {
      content: "50%";
    }
  }
}
.js {
  & > .skills__progressBar {
    width: 50%;
    &::after {
      content: "50%";
    }
  }
}
.ing {
  & > .skills__progressBar {
    width: 40%;
    &::after {
      content: "40%";
    }
  }
}

@keyframes progressBar {
  100% {
    transform: scaleX(1);
  }
}

@keyframes showName {
  100% {
    opacity: 1;
  }
}
